

body {
    height: 100vh;
    background-image: linear-gradient(
      to bottom,
      #00bfa5 15%,
      white 15%,
      white 100%
    );
  }


  .app{
   height: 90%;
  }
  .container{
      height: 90%;
  }

  .bg-light-gray {
background-color:lightgrey ;
  }

  .bg-chat-color{
background-color:grey ;
  }

  .chat-header{
      height: 70px;
  }
  .chat-footer{
    height: 70px;
  }

.bg-white{
    background-color: white;
}