<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


    <title>BOOLZAPP</title>
</head>

<body>

    <div class="  h-100 d-flex align-items-center justify-contente-center" id="app">

        <div class="container">
            <main class="rounded shadow bg-white h-100">

                <div class="row h-100">
                    <!-- COLONNA USER CON LISTA UTENTI E IL SEARCH -->
                    <div class="col-4 p-0 h-100 rounded-end d-flex flex-column bg-color">
                        <!-- UTENTE -->
                        <section class="flex-shrink-0 user">
                            <div class=" d-flex  align-items-center justify-content-between">
                                <figure class=" d-flex align-items-center">
                                    <img :src="`img/avatar${user.avatar}.jpg`" v-bind:alt="user.name" />
                                </figure>
                                <div id="ciccio" class="h6">{{ user.name }}</div>
                                <div class="icons">
                                    <i class="fas fa-circle-notch"></i>
                                    <i class="fas fa-comment-alt"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>
                        </section>
                        <!-- BARRA NOTIFICHE  -->
                        <section class="flex-shrink-0 notification">
                            <div class="media h-100 d-flex justify-contente-center align-items-center">
                                <i class="fas fa-bell-slash"></i>
                                <div class="media-text    ">
                                    <div>
                                        <h6>Ricevi notifiche di nuovi messaggi</h6>
                                    </div>
                                    <div>
                                        <p>Attiva notifiche desktop</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- BARRA DI RICERCA -->
                        <section class="p-2 search">
                            <i class="fas fa-search"></i>
                            <input type="text" class="w-100" placeholder="Cerca o inizia una nuova chat">
                        </section>
                        <!-- LISTA UTENTI CHAT -->
                        <section class="flex-grow-1 overflow-auto bg-white users-list">

                            <ul class="m-0 p-0">
                                <li class="d-flex  align-items-center" v-for=" contact in contacts">
                                    <figure class="d-flex align-items-center ">
                                        <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name" />
                                    </figure>
                                    <div class="h-6">
                                        <div>{{ contact.name }}</div>
                                    </div>
                                </li>

                            </ul>
                        </section>

                    </div>

                    <!-- COLONNA CHAT -->
                    <div class="col-8 p-0 h-100 rounded-end d-flex flex-column bg-chat-color">
                        <header class="chat-header bg-color">
                            <section class="flex-shrink-0 user">
                                <div class=" d-flex justify-content-between align-items-center">
                                    <figure class=" d-flex align-items-center ">
                                        <img src="./img/avatar_1.jpg" alt="">
                                        <div class="">
                                            <div>
                                                Michele
                                            </div>
                                            <div>
                                                <p id="time-chat">Ultimo accesso 12:33 pm</p>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="icons ">
                                        <i class="fas fa-search"></i>
                                        <i class="fas fa-paperclip"></i>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </div>
                                </div>
                            </section>
                        </header>
                        <!-- IL MAIN DOVE SI VISUALIZZERANNO I MESSAGGI  -->
                        <main class="flex-grow-1 overflow-auto bg-white chat ">

                            <ul>
                                <li v-for="item in contacts[0].messages" class="message-container p-3 sent"
                                    :class="item.status">
                                    <div class="message p-2 rounded-3">
                                        <p>{{ item.message }}
                                        </p>
                                        <time datetime="20021-08-03T10:07"> {{ item.date }}</time>
                                    </div>

                                </li>

                            </ul>
                        </main>
                        <!-- BARRA DEI MESSAGGI  -->


                        <footer class="chat-footer">
                            <section class="row  h-100 p-2 d-flex  ">
                                <div class="col-1 h-100 rounded-end d-flex justify-contente-center align-items-center ">
                                    <i class="fas fa-smile-beam"></i>
                                </div>
                                <div class="col-10 h-100 rounded-end d-flex flex-column">
                                    <input type="text" class="w-100" placeholder="Scrivi un messaggio">
                                </div>
                                <div class="col-1 h-100 rounded-end d-flex justify-contente-center align-items-center ">
                                    <i class="fas fa-microphone"></i>
                                </div>

                            </section>


                        </footer>






                    </div>





                </div>
            </main>
        </div>

    </div>



    <script src="./js/script.js"></script>

</body>

</html>